{% extends "news/layout.html" %}
{% load static %}

{% block body %}

    <form>
        <div class="form-group" style="float: left; width: 5em;">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Us</option>
                <option>Gr</option>
            </select>
        </div>

        <div class="form-group" style="float: left; margin-left: 1em; width: 7em;">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>General</option>
                <option>Business</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 0.5em; background-color: #212529;">Submit</button>
    </form>

    <div class="container">
        <div class="row">
            {% for article in news.articles %}
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{article.urlToImage}}" alt="{{article.source.name}}">
                        <div class="card-body">
                          <h5 class="card-title">{{article.title}}</h5>
                          <p class="card-text">{{article.description|truncatechars:100}}</p>
                          <a href="{{article.url}}" class="btn btn-primary" target="blank">Read</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}